h1 {
  text-align: center;
}

table, th, td {
  border: 1px solid;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 60%;
  margin-right: auto;
  margin-left: auto
}

.months-column {
  width: 5px;
}

.present {
  background-color: green;
}