h1 {
  text-align: center;
}

th, td {
  border: 1px solid;
}

table {
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
  margin-right: auto;
  margin-left: auto
}

.species-name-column {
  width: 175px;
}

.month-cell {
  transition-duration: 0.1s
}

.month-cell:hover {
  border: 2px solid;
  transition-duration: 0.1s
}

.months-column {
  width: 45px;
}

.new-observation-submission {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  border: none;
}

#all-year-cell {
  border: none;
  white-space: nowrap;
}

#all-year {
  margin-left:176px;
}

#all-year-label {
  font-weight: bold;
}

.delete-button-cell {
  border: none;
}

tr>:nth-child(14) {
  border: none;
}

.present {
  background-color: green;
}