h1 {
  text-align: center;
}

table, th, td {
  border: 1px solid;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 70%;
  margin-right: auto;
  margin-left: auto
}

.month-cell {
  transition-duration: 0.1s
}

.month-cell:hover {
  border: 2px solid;
  transition-duration: 0.1s
}

.months-column {
  width: 45px;
}

.new-observation-submission {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

#all-year-label {
  font-weight: bold;
}

.present {
  background-color: green;
}