body {
  margin-right: 15%;
  margin-left: 15%;
  color: rgba(218, 218, 218, 1);
  background-color: rgba(10, 22, 12, 1)
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0em
}

table {
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

th,
td {
  border: 1px solid
}

th {
  white-space: nowrap;
  overflow-x: hidden
}

#page-title-container {
  background-color: rgba(82, 169, 96, 0.8);
  border-radius: 5px;
  border: 2px solid green;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bird-logo {
  height: 50px;
  width: 50px;
  padding-right: 15px;
}

.feeder-selector {
  margin-right: 1em
}

.species-name-column {
  box-sizing: border-box;
  width: 28%;
  min-width: 450px
}

.month-cell {
  transition-duration: 0.1s
}

.month-cell:hover {
  border: 2px solid;
  transition-duration: 0.1s
}

.months-column {
  box-sizing: border-box;
  width: 6%
}

.new-observation-submission {
  margin-right: auto;
  margin-left: auto;
  border: none
}

.autocomplete-input {
  width: 95%
}

.add-button {
  margin: 3px
}

.blank-cell {
  border: none
}

.all-year-cell {
  border: none;
  white-space: nowrap;
}

.all-year-label {
  font-weight: bold
}

.delete-button-cell {
  border: none
}

.delete-button {
  margin-left: 3px
}

tr>:nth-child(14) {
  border: none
}

.present {
  background-color: rgba(82, 169, 96, 0.8)
}

.autocomplete-result {
  cursor: default;
  padding: 12px 12px 12px 12px;
  color: black
}

.autocomplete-result-list {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .12);
  box-sizing: border-box;
  max-height: 296px;
  background: #fff;
  list-style: none;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
  overflow: auto;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected=true] {
  background-color: rgba(0, 0, 0, .06)
}

.details-button {
  margin-bottom: 1em
}

.metadata-form-container {
  margin-bottom: 1em;
  padding: 1em 0.5em;
  border: 2px solid green;
  background-color: rgba(82, 169, 96, 0.8);
  width: fit-content
}

.food-types {
  height: 17px;
  z-index: 1;
  position: absolute;
  margin: 1px 3px
}

.food-types:focus {
  height: 275px
}

.hidden {
  display: none
}